.blog
  .blog-post
    a(href="#")
      img(src='img/content/blog-1.jpg')
      .blog-post-info
        h2.blog-post__heading This is Those 10 Things in Life
        p.blog-post__text Lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit uis sed odio sit
        a.blog-post__link read more
  .blog-post
    a(href="#")
      img(src='img/content/blog-2.jpg')
      .blog-post-info
        h2.blog-post__heading This is Those 10 Things in Life
        p.blog-post__text Lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit uis sed odio sit
        a.blog-post__link read more
  .blog-post
    a(href="#")
      img(src='img/content/blog-3.jpg')
      .blog-post-info
        h2.blog-post__heading This is Those 10 Things in Life
        p.blog-post__text Lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit uis sed odio sit
        a.blog-post__link read more
