.chefs
  h2.chefs__title our chefs
  .chefs-info
    ul#chefs-info-list.chefs-info-list
      li.chefs-info-list-li
        +chef-card('josette doe', 'master chef', 'Aenean sollicitudin, lorem quis bibendum nisi elit consequat ipsum nec')
      li.chefs-info-list-li.hidden
        +chef-card('john snow', 'chef №2', 'Aenean sollicitudin, lorem quis bibendum nisi elit consequat ipsum nec')
      li.chefs-info-list-li.hidden
        +chef-card('constantine heizenberg', 'support', 'Aenean sollicitudin, lorem quis bibendum nisi elit consequat ipsum nec')
      li.chefs-info-list-li.hidden
        +chef-card('old freak', 'real gangster', 'Aenean sollicitudin, lorem quis bibendum nisi elit consequat ipsum nec')
  .chefs-photo
    .chefs-photo-container
      img(src='img/content/chef-photo-2.png')
      img.hidden(src='img/content/chef-photo-3.png')
      img.hidden(src='img/content/chef-photo-4.png')
      img.hidden(src='img/content/chef-photo-6.png')
  .chefs-controls
    button.chefs-controls__btn &lt;
    button.chefs-controls__btn &gt;
