.chefs
  h2.chefs__title our chefs
  .chefs-info
    span.chefs__name josette doe
    span.chefs__role &#91; master chef &#93;
    p.chefs__text Aenean sollicitudin, lorem quis bibendum nisi elit consequat ipsum nec
  .chefs__photo
    img(src='img/content/chef-photo-2.png')
