.comments
  .wrapper
    p.comments__text Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum. Duis sed odio
    .comments-author
      img.comments-author__avatar(src="img/content/avatar-2.jpg")
      span.comments-author__name Charlize Theron, AU
