.comments
  .card#card
    .card-front
      +comment('Karen Gillan', 'Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum. Duis sed odio')        
    .card-back
      +comment('Charlize Theron', 'Huevos ponimatos? Aenean sollicitudin, lorem quis bibendum auctor sed odio.')
    
