.feedback
  .wrapper
    h2.feedback__heading contact us
    form.feedback-form
      input.feedback-form__input(type='text' placeholder='your name')
      input.feedback-form__input.f-r(type='text' placeholder='your email')
      br
      textarea.feedback-form__textarea(placeholder="your message")
      button.feedback-form__submit send now
