.footer
  .footer-social
    a.footer-social__link.footer-social__link--fb
    a.footer-social__link.footer-social__link--twitter
    a.footer-social__link.footer-social__link--dribble
    a.footer-social__link.footer-social__link--evernote
    a.footer-social__link.footer-social__link--myspace
    a.footer-social__link.footer-social__link--youtube
  p.footer__copyright &copy;VishnuSathyan | 
    a(href='#') www.be.net/VishnuSathyan
