.gallery
  .gallery-slider
    #slider-controls.gallery-slider-controls
      button.gallery-slider__btn.gallery-slider__btn--active
      button.gallery-slider__btn
      button.gallery-slider__btn
      button.gallery-slider__btn
      button.gallery-slider__btn
    ul#gallery-slider.slides
      li.slide
        img(src="img/content/slide-1.jpg")
      li.slide
        img(src="img/content/slide-2.jpg")
      li.slide
        img(src="img/content/slide-3.jpg")
      li.slide
        img(src="img/content/slide-4.jpg")
      li.slide
        img(src="img/content/slide-5.jpg")
      li.slide
        img(src="img/content/slide-1.jpg")
