meta(charset="utf-8")
title Tatukada
meta(name="keywords" content="tatukada")
meta(name="description" content="tatukada")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
link(rel="stylesheet" href="css/main.css")
link(rel="shortcut icon" href="img/design/favicon.ico" type="image/x-icon")
link(rel="icon" href="img/design/favicon.ico" type="image/x-icon")
