.offer
  .wrapper
    h2.offer__title idly & vada
    span.offer__caption &#91; by master chef &#93;
    p.offer__description Nec sagittis sem nibh id elit. Duis sed odio tellus a odio tincidunt auctor.
    ul.offer__description
      li 
        span 1 tsp
        |- &nbsp;Mulakupodi
      li 
        span 4 pcs.
        |- &nbsp;Thakkali
      li 
        span 2 kg
        |- &nbsp;Savala
    p.offer__description Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.
