.offer
  .offer-image
    ul.offer-image-list
      li.offer-image-list-li
        img(src="img/content/offer-1.jpg")
      li.offer-image-list-li.left-hidden
        img(src="img/content/offer-2.jpg")
      li.offer-image-list-li.left-hidden
        img(src="img/content/offer-3.jpg")
      li.offer-image-list-li.left-hidden
        img(src="img/content/offer-4.jpg")
  .offer-text
    ul.offer-text-list
      li.offer-text-list-li
        h2.offer__title vada & idly
        span.offer__caption &#91; by master chef &#93;
        p.offer__description Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.
        ul.offer__description
          li 
            span 1 tsp
            |- &nbsp;Mulakupodi
          li 
            span 4 pcs.
            |- &nbsp;Thakkali
          li 
            span 2 kg
            |- &nbsp;Savala
        p.offer__description Nec sagittis sem nibh id elit. Duis sed odio tellus a odio tincidunt auctor.
      li.offer-text-list-li.hidden
        h2.offer__title stem mor kootu
        span.offer__caption &#91; by emma watson &#93;
        p.offer__description Nec sagittis sem nibh id elit. Duis sed odio tellus a odio tincidunt auctor. Nec sagittis sem nibh id elit. Duis sed odio tellus a odio tincidunt auctor.
        ul.offer__description
          li 
            span 6 tsp
            |- &nbsp;Thakkali
          li 
            span 4 pcs.
            |- &nbsp;Savala
          li 
            span 8 kg
            |- &nbsp;Mulakupodi
        p.offer__description Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.
      li.offer-text-list-li.hidden
        h2.offer__title kashmiri dum aloo
        span.offer__caption &#91; by saoirse ronan &#93;
        p.offer__description Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum. Nec sagittis sem nibh id elit. Duis sed odio tellus a odio tincidunt auctor.
        ul.offer__description
          li 
            span 12 tsp
            |- &nbsp;Mulakupodi
          li 
            span 44 pcs.
            |- &nbsp;Savala
          li 
            span 2 kg
            |- &nbsp;Thakkali
        p.offer__description Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      li.offer-text-list-li.hidden
        h2.offer__title payasam
        span.offer__caption &#91; by someone else &#93;
        p.offer__description Nec sagittis sem nibh id elit. Duis sed odio tellus a odio tincidunt auctor.  Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.
        ul.offer__description
          li 
            span 2 tsp
            |- &nbsp;Mulakupodi
          li 
            span 6 pcs.
            |- &nbsp;Thakkali
          li 
            span 4 kg
            |- &nbsp;Savala
  .offer-controls
    button.offer-controls__btn &lt;
    button.offer-controls__btn &gt;
