.offer
  .offer-image
    ul.offer-image-list
      li.offer-image-list__item
        img(src="img/content/offer-1.jpg")
      li.offer-image-list__item.left-hidden
        img(src="img/content/offer-2.jpg")
      li.offer-image-list__item.left-hidden
        img(src="img/content/offer-3.jpg")
      li.offer-image-list__item.left-hidden
        img(src="img/content/offer-4.jpg")
  .offer-text
    ul.offer-text-list
      li.offer-text-list__item
        h2.offer__title vada & idly
        span.offer__caption &#91; by iron man &#93;
        p.offer__description Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.
        ul.offer__description
          li 
            span 1 tsp
            |- &nbsp;Mulakupodi
          li 
            span 4 pcs.
            |- &nbsp;Thakkali
          li 
            span 2 kg
            |- &nbsp;Savala
        p.offer__description Nec sagittis sem nibh id elit. Duis sed odio tellus a odio tincidunt auctor.
      li.offer-text-list__item.hidden
        h2.offer__title idly & vada
        span.offer__caption &#91; by master chef &#93;
        p.offer__description Nec sagittis sem nibh id elit. Duis sed odio tellus a odio tincidunt auctor. Nec sagittis sem nibh id elit. Duis sed odio tellus a odio tincidunt auctor.
        ul.offer__description
          li 
            span 6 tsp
            |- &nbsp;Mulakupodi
          li 
            span 4 pcs.
            |- &nbsp;Savala
          li 
            span 8 kg
            |- &nbsp;Thakkali
        p.offer__description Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.
      li.offer-text-list__item.hidden
        h2.offer__title idly & vada 3
        span.offer__caption &#91; by master chef &#93;
        p.offer__description Nec sagittis sem nibh id elit. Duis sed odio tellus a odio tincidunt auctor.
        ul.offer__description
          li 
            span 1 tsp
            |- &nbsp;Mulakupodi
          li 
            span 4 pcs.
            |- &nbsp;Thakkali
          li 
            span 2 kg
            |- &nbsp;Savala
        p.offer__description Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.
      li.offer-text-list__item.hidden
        h2.offer__title idly & vada 4
        span.offer__caption &#91; by master chef &#93;
        p.offer__description Nec sagittis sem nibh id elit. Duis sed odio tellus a odio tincidunt auctor.
        ul.offer__description
          li 
            span 1 tsp
            |- &nbsp;Mulakupodi
          li 
            span 4 pcs.
            |- &nbsp;Thakkali
          li 
            span 2 kg
            |- &nbsp;Savala
        p.offer__description Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.
  .offer-controls
    button.offer-controls__btn &lt;
    button.offer-controls__btn &gt;
