.promo
  .promo-info
    strong.promo__discount 50%
    h1.promo__heading Masala Dosa
    p.promo__description Lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit uis sed odio.
    a.promo__link read more
    
