.promo
  .promo-info
    strong.promo-info__discount 50%
    h1.promo-info__heading Masala Dosa
    p.promo-info__description Lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit uis sed odio.
    a.promo-info__link read more
    
