.recipies
  h2.recipies__title daily recipies
  ul.recipies-list
    li.recipies-list-li
      +recipe(1,'Njayarazhchat', 'Gravida nibh velit aucttiror aliquet. Aenean sollicitudin')
    li.recipies-list-li
      +recipe(2, 'Thinkalazhcha', 'Gravida nibh velit aucttiror aliquet. Aenean sollicitudin')
    li.recipies-list-li
      +recipe(3, 'Budhanazhcha', 'Gravida nibh velit aucttiror aliquet. Aenean sollicitudin')
    li.recipies-list-li
      +recipe(4, 'Chovvazhcha', 'Gravida nibh velit aucttiror aliquet. Aenean sollicitudin')
    li.recipies-list-li
      +recipe(5, 'Hanthinlazchat', 'Gravida nibh velit aucttiror aliquet. Aenean sollicitudin')
    li.recipies-list-li
      +recipe(6, 'Vazkalcha', 'Gravida nibh velit aucttiror aliquet. Aenean sollicitudin')
