.recipies
  h2.recipies__title daily recipies
  .wrapper
    ul
      li
        img(src='img/content/recipe-1.png')
        h3 Njayarazhchat
        p Gravida nibh velit aucttiror aliquet. Aenean sollicitudin
      li
        img(src='img/content/recipe-2.png')
        h3 Thinkalazhcha
        p Gravida nibh velit aucttiror aliquet. Aenean sollicitudin
      li
        img(src='img/content/recipe-3.png')
        h3 Budhanazhcha
        p Gravida nibh velit aucttiror aliquet. Aenean sollicitudin
      li 
        img(src='img/content/recipe-4.png')
        h3 Chovvazhcha
        p Gravida nibh velit aucttiror aliquet. Aenean sollicitudin
      li
        img(src='img/content/recipe-5.png')
        h3 Hanthinlazchat
        p Gravida nibh velit aucttiror aliquet. Aenean sollicitudin
      li
        img(src='img/content/recipe-6.png')
        h3 Vazkalcha
        p Gravida nibh velit aucttiror aliquet. Aenean sollicitudin
