.reserve
    h2.reserve__title reserve table
    form.reserve__form
      p
        input#input-date(type='text' placeholder='dd/mm/yyyy')
        label(for="input-date")
      p
        input#input-time(type='text' placeholder='hh:mm:ss')
        label(for="input-time")
      button.reserve__submit reserve now
