.chefs
  +size(100%)
  background-color: $color-bg-alt
  position: relative
  &__title
    +text-m-heading
    display: block
    color: $color-text-alt
    text-align: center
    text-transform: capitalize
    padding-top: 32px
  &-info
    color: $color-text-alt
    box-sizing: border-box
    overflow: hidden
    width: 240px
    margin-top: 120px
    ul
      min-height: 300px
      overflow: hidden
      position: relative
      li
        position: absolute
        padding-left: 30px
        width: 210px

  &-photo
    position: absolute
    right: 0
    bottom: 0
    &-container
      +size(100%)
      position: relative
      img
        position: absolute
        right: 0
        bottom: 0
        display: block
  &-controls
    position: absolute
    left: 15px
    bottom: 15px
    &__btn
      border: none
      padding: 5px
      margin-left: 10px
      background: none
      color: #d1d1d1
      cursor: pointer
      font-size: 25px
      &:hover
        color: $color-brand-primary
      &:active
        color: $color-brand-primary
  &__name
    display: inline-block
    text-transform: capitalize
    font: 2.4em $font-family-paytone
    margin-bottom: .15em
  &__role
    display: inline-block
    +text-regular
    font-weight: 900
    text-transform: capitalize
    margin-bottom: 1em
  &__text
    +text-regular
