.comments
  +size(100%)
  background: url(../img/design/bg-feedback.jpg) no-repeat
  background-size: cover
  +flex-centering
  .wrapper
    width: 78%
    position: relative
    text-align: center
    margin-top: 80px
    &:before
      display: block
      position: absolute
      content: "\201C"
      font-size: 15em
      +size(100%, 50px)
      top: -.7em
  &__text
    +text-regular
    margin-bottom: 35px
  &-author
    +clearfix
    display: inline-block
    margin: 0 auto
    &__avatar
      display: block
      float: left
      +size(70px)
      border-radius: 50%
    &__name
      +text-regular
      font-weight: 900
      line-height: 70px
      margin-left: 10px
