.recipies
  +size(100%)
  background-color: $color-brand-primary
  .wrapper
    margin-right: 6px
    height: 77%
    overflow-y: scroll
    &::-webkit-scrollbar
      width: 6px
      background-color: white
    &::-webkit-scrollbar-thumb
      border: 2px solid white
      outline: 2px solid white
      background-color: $color-brand-primary
  &__title
    +text-m-heading
    text-transform: capitalize
    text-align: center
    line-height: 4em
    height: 23%
  ul
    li
      padding: 10px
      height: 130px
      img
        display: block
        float: left
      h3
        font: 2.4em $font-family-paytone
        overflow: hidden
        padding-left: 10px
      p
        padding-left: 10px
        padding-right: 10px
        overflow: hidden
        +text-regular
