.video
  background: black
  position: relative
  overflow: hidden
  +size(100%)
  +flex-centering
  video
    width: 100%
    margin-left: -1px
  &-overlay
    +size(100%)
    position: absolute
    left: 0
    top: 0
    background: linear-gradient(rgba(44, 44, 44, 0.55),rgba(44, 44, 44, 0.55)), url(../img/design/bg-video-cover.jpg) no-repeat
    background-size: 100% 100%
    +flex-centering
    text-align: center
  &__title
    text-transform: capitalize
    +text-l-heading
  #play__btn
    display: inline-block
    +size(40px, 45px)
    margin-bottom: 30px
    +btn
    background: url(../img/design/sprite.png) no-repeat
    background-position: -91px 0px
