include utility/_mixins
doctype html
html
  head
    include includes/_head
    include includes/_scripts
  body
    .grid
      .row
        .col-1-4
          .cell-half
            include includes/_logo
          .cell-half
            include includes/_delivery
        .col-auto
          .cell
            include includes/_promo
      .row
        .col-2-3
          .cell
            include includes/_offer
          .cell
            include includes/_video
        .col-auto
          .cell-half
            include includes/_reserve
          .cell
            include includes/_recipies
          .cell-half
            include includes/_comments
      .row
        .col-1-2
          .cell-half-half
            include includes/_twitter
          .cell-half-half
            include includes/_fb
          .cell-half
            include includes/_app
        .col-auto
          .cell
            include includes/_chefs
      .row
        .col-2-3
          .cell
            include includes/_panorama
        .col-auto
          .cell-half
            include includes/_newsletter
          .cell-half
            include includes/_discount
      .row
        .col-1-4
          .cell
            include includes/_event
        .col-auto
          .cell
            include includes/_gallery
      .row
        .col-full
          .cell
            include includes/_blog
      .row
        .col-1-2
          .cell-half
            include includes/_map
        .col-auto
          .cell-half
            include includes/_feedback
      .row
        .col-full
          .cell-small
            include includes/_footer
  
